.App {
    text-align: center;
    background-color: antiquewhite;
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 5px;
    font-size: 2rem;
    color: purple;
}

.listTodo {
    list-style: '⇝';
}

.listTodo ::marker {
    color: purple;
    font-size: 1.5rem;
    margin: 5px;
}

.listTodo .itemTodo {
    margin: 5px;
}

.listTodo .btnCompleteTodo {
    padding: 7px;
    border: 3px solid purple;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    color: violet;
    background-color: black;
    margin: 0 5px;
}

.formTodo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formTodo .inputTodo {
    border: 1px solid purple;
    padding: 5px;
    margin: 5px;
    color: black;
    background-color: violet;
    border-radius: 10px;
}

.formTodo .btnAddTodo {
    padding: 5px;
    border: 3px solid purple;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: violet;
    background-color: black;
    margin: 3px;
}